.pokepage-background{
    color: darkslategray;
    height: 100vh;
    width: 100vw;
}
.page-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: darkslategray;
}
/* Button.css */
.GenBox {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 5px; /* Ajuste conforme necessário */
}
.button-grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px; /* Espaçamento entre os botões */
}