/* HomePage.css */

.home-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #252525;
}

.search-container {
    width: 400px;
    text-align: center;
}

.search-bar {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}
